@import "tailwindcss";

html {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* Prevent flash of unstyled content */
html:not(.dark) {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}